In [8]:
#import csv file or dataset from pandas package
#though excel files have .xls/ .xlsx extension, but to load the excel file here, we use csv format
import pandas as pd
dataset=pd.read_csv("E:\BIT\ML\ecoli.csv")
#print(pd.read_csv("E:\BIT\ML\ecoli.csv"))

In [6]:
#to load first 5 rows of the dataset, we use dataset.head(), to load last 5 we use dataset.tail()
#---calling dataset name prints the whole dataset
#dataset.head()
#dataset.tail()
#dataset

    Sequence Name   mcg   gvh   lip  chg    aac  alm1  alm2 plocalisation
0       AAT_ECOLI  0.49  0.29  0.48  0.5   0.56  0.24  0.35            cp
1      ACEA_ECOLI  0.07  0.40  0.48  0.5   0.54  0.35  0.44            cp
2      ACEK_ECOLI  0.56  0.40  0.48  0.5   0.49  0.37  0.46            cp
3      ACKA_ECOLI  0.59  0.49  0.48  0.5   0.52  0.45  0.36            cp
4       ADI_ECOLI  0.23  0.32  0.48  0.5   0.55  0.25  0.35            cp
..            ...   ...   ...   ...  ...    ...   ...   ...           ...
331    TREA_ECOLI  0.74  0.56  0.48  0.5   0.47  0.68  0.30            pp
332    UGPB_ECOLI  0.71  0.57  0.48  0.5   0.48  0.35  0.32            pp
333    USHA_ECOLI  0.61  0.60  0.48  0.5   0.44  0.39  0.38            pp
334    XYLF_ECOLI  0.59  0.61  0.48  0.5   0.42  0.42  0.37            pp
335    YTFQ_ECOLI  0.74  0.74  0.48  0.5   0.31  0.53  0.52            pp

[336 rows x 9 columns]